<!-- Hier word de header geinclude -->
<%- include('./partials/head') %>

<main class="service__container">

  <section class="service__left">
    <h2><%= service.title %></h2>
    <p class="service__categories"><%= service.type %> | <%= service.categories %></p>
    <%- service.long_description %>
    <a href="#">Neem contact op ➜</a>
  </section>

  <img class="service__image" src="https://fdnd-agency.directus.app/assets/<%= service.image %>">

  <section class="service__contactinfo">
    <section class="service__contactinfo--left">
      <img src="/assets/placeholder.png" alt="">
      <ul>
        <li>Jane Doe</li>
        <li>020 123 45 67</li>
        <li>info@voorbeeld.nl</li>
      </ul>
    </section>
    <a href="#">Neem contact op</a>
  </section>

</main>

<!-- Hier word de foot geinclude -->
<%- include('./partials/foot') %>